/* FONT */
/* font-family: 'Yanone Kaffeesatz', sans-serif; */

/* COLORS */
/* background color -> #B4E4E6 */
/* text color -> #453D3D */
/* button color -> #B32274 */
/* button text color -> white */

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #B4E4E6;
    color: #453D3D;
}


button {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #B32274;
    padding-top: 5px;
    width: 150px;
    height: 35px;
    color: white;
    font-size: large;
    border-radius: 6px;
    border: none;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

article {
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}